#about-content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gifArea {
    display: flex;
    justify-content: center;
    width: 700px;
}

#about-writing-area {
    background-color: green;
    width: 500px;
} 

@media (max-width: 1000px) {
    #gifArea {
        width: 80vw;
    }
    #about-writing-area {
        width: 90vw;
    }
}