#resume-page-body {
    display: flex;
    justify-content: center;
    background-color: snow;
}

#resumeFrame {
    width: 60%;
    height: 120vh;

}

@media (max-width: 1000px) { 
    #resumeFrame {
        width: 100%;
    }
}



/* #resumeHolder {
    display: flex;
    justify-content: center;
}

#resumePic {
    width: 80vw;
}  */