.project-preview-container {
    height: 250px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    padding: 30px;
}

.right {
    justify-content: flex-end;
}

.left {
    flex-direction: row-reverse;
    justify-content: flex-end;
}