#nav-holder {
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(transparent, rgb(117, 117, 117), transparent);
}

#top-nav-btn {
    margin-top: 250px;
}
 
.nav-btn {
    margin: 20px 10px;
    color: snow;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

@media (max-width: 1000px) {
    #nav-holder {
      position: fixed;
      height: 50px;
      width: 100vw;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: snow;
    }

    .nav-btn {
        color: black;
        font-size: 1.2rem;
    }

    #top-nav-btn {
        margin-top: 10px;
    }
  }