#nav-holder {
    position: absolute;
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(transparent, rgb(117, 117, 117), transparent);
}

.nav-btn {
    margin: 10px;
    color: snow;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}