#artwork-container {
    position: relative;
    height: 700px;
    width: 100vw;
}

#main-art {
    position: absolute;
    height: 100%;
    width: 100%;
}

#hidden-glass {
    position: absolute;
    width: 100%;
    height: 100%;
}