#main-artwork {
    width: 100vw;
}

.aa{fill:url(#t);}.ab{fill:url(#r);}.ac{fill:url(#y);}.ad{fill:url(#l);}.ae{fill:url(#c);}.af{fill:url(#u);}.ag{fill:url(#v);}.ah{fill:url(#a`);}.ai{fill:url(#m);}.aj{fill:url(#f);}.ak{fill:url(#p);}.al{fill:url(#g);}.am{fill:url(#b);}.an{fill:url(#i);}.ao{fill:url(#h);}.ap{fill:url(#d);}.aq{fill:url(#e);}.ar{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:5px;}.as{fill:url(#x);}.at{fill:url(#s);}.au{fill:url(#n);}.av{fill:url(#w);}.aw{fill:url(#j);}.ax{fill:url(#o);}.ay{fill:url(#q);}.b{fill:url(#k);}

 .fun:hover {
    fill-opacity: 0.8
 }