.study-content-container {
    background-color: snow;
    padding: 50px;
}

@media (max-width: 1000px) {
    .study-content-container {
        padding: 10px;
    } 
}

/*****************Case Study Title*****************/

.study-label-holder {
    font-size: 1.2rem;
    padding-left: 20px;
}

.study-label {
    margin: 0;
}

.study-name {
    margin: 0;
}

.study-name-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: snow;
    background-color: black;
    padding: 30px 10px;
}

@media (max-width: 1000px) {
    .study-label-holder {
        padding-left: 10px;
    }
    .study-name-holder {
        padding: 15px 10px;
    }
}

/*****************Hero*****************/

.study-hero {
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 1000px) {
    .study-hero {
        margin-bottom: 10px;
    }
}

/*****************SubTitle*****************/

.subtitle-container {
    border-bottom: solid;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.subtitle {
    margin: 0 0 0 30px;
}

@media (max-width: 1000px) {
    .subtitle-container {
        margin-bottom: 10px;
    }
    .subtitle {
        margin: 0 0 0 10px;
    }
}

/*****************Case Study Image Area*****************/

.img-label {
    margin: 0 0 0 30px;
    font-size: 1.5rem;
}

.imgs-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    padding: 20px;
    background-color: gray;
    margin-bottom: 30px;
}

/* .image {
    height: 300px;
    margin: 5px;
} */

.desktop {
    width: 350px;
    margin: 5px;
}
.tablet {
    width: 125px;
    margin: 5px;
}
.mobile {
    width: 60px;
    margin: 5px;
}
.prototype {
    width: 500px;
    margin: 5px;
}
.asset {
    width: 120px;
    margin: 5px;
}

@media (max-width: 1000px) {
    .img-label {
        margin: 0 0 0 10px;
    }
    .imgs-holder {
        padding: 10px;
        margin-bottom: 10px;
    }
}
/*****************Line*****************/

.line-area {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.line-topic-holder {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.line-topic {
    font-size: 1.5rem;
    margin: 0;
}

.line-content-holder {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.line-content {
    font-size: 1.3rem;
    margin: 0;
}

@media (max-width: 1000px) {
    .line-area {
        margin-bottom: 10px;
    }
    .line-content-holder {
        padding-left: 15px;
    }
}

/*****************List*****************/

.list-area {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.list-topic-holder {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.list-topic {
    margin: 0;
    font-size: 1.5rem;
}

.list-content-holder {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.list-item {
    font-size: 1.3rem;
}

@media (max-width: 1000px) {
    .list-area {
        margin-bottom: 10px;
    }
    .list-content-holder {
        padding-left: 15px;
    }
}

