#nav-container {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: snow;
    color: black;
    font-size: 1.2rem;
}

.nav-child {
    margin: 20px 40px; 
}

#logo {
    flex-grow: 1;
    width: 80px;
    padding-left: 5vw; 
} 

#flyout-menu-icon {
    display: none;
}

#flyout-menu {
    display: none;
}

@media (max-width: 1000px) {
    #nav-container {
        display: block;
    }

    .nav-child {
        display: none;
    }

    #logo {
        width: 48px;
    }
 
    #flyout-menu-icon {
        display: inline;
        background-color: green;
    }
    #open-menu {
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: snow;
        animation-duration: 200ms;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {
          transform: translateX(-100%);
        }
      
        to {
          transform: translateX(0%);
        }
      }

    #close-menu {
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        background-color: snow;
        animation-duration: 200ms;
        animation-name: slideout;
    }

    @keyframes slideout {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-100%);
        }
    }
}